.expense-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expense-form__controls {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 0.5rem;
}
.expense-form__controls label {
  margin-bottom: 0.2rem;
}
.expense-form__controls input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.actionsContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-top-right-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  transition: all 0.25s ease;
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}

.closeBtn:hover {
  background-color: red;
  color: #fff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: scale(1.04);
}
.addBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #4caf50;
  transition: all 0.25s ease;
}
.addBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(76, 175, 80, 0.6);
  transform: scale(1.04);
}
.disabled {
  margin-top: 10px;
  cursor: not-allowed;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #4caf50;
  transition: all 0.25s ease;
  opacity: 0.5;
}
